{% extends 'page/customer-page.html' %}

{% block title %}
{{object}}
{% endblock %}

{% block imports %}
<link rel="import" href="/elements/paper-tabs/paper-tab.html">
<link rel="import" href="/elements/paper-tabs/paper-tabs.html">
<link rel="import" href="/elements/iron-pages/iron-pages.html">
<link rel="import" href="/elements/google-chart/google-chart.html">
<link rel="import" href="/media/elements/blink-device-list.html">
<link rel="import" href="/media/elements/blink-utility.html">
<link rel="import" href="/media/elements/blink-utility-list.html">
<link rel="import" href="/media/elements/blink-utility-month-list.html">

<style>
    #device-chart {
        width: 100%;
    }
</style>
{% endblock %}

{% block panel_content %}
<div class="vertical-section-container spacing-top">
    {% block additional_info %}{% endblock %}
    <div>
        <paper-tabs scrollable selected="{{request.GET.tab}}">
            <paper-tab>Home</paper-tab>
            <paper-tab>Devices</paper-tab>
            <paper-tab>Utility History (Day)</paper-tab>
            <paper-tab>Utility Today (Month)</paper-tab>
        </paper-tabs>
    </div>
    <iron-pages selected="{{request.GET.tab}}">
        <div class="center-page">
            <paper-card>
                <div class="card-content">
                    <h3>Utility</h3>
                    <google-chart 
                        id="device-chart"
                        type="md-line"
                        data="{% url 'admin:track:chart' object.id %}">
                    </google-chart>
                </div>
            </paper-card>
            <paper-card>
                <blink-utility url="{% url 'admin:track:track' object.id %}"></blink-utility>
            </paper-card>
        </div>
        <div>
            <blink-device-list url="{% url 'admin:activity:get-device' %}?home={{object.id}}"></blink-device-list>
        </div>
        <div>
            <blink-utility-list url="{% url 'admin:daily:track' object.id %}"></blink-utility-list>
        </div>
        <div>
            <blink-utility-month-list url="{% url 'admin:monthly:track' object.id %}"></blink-utility-month-list>
        </div>
    </iron-pages>
</div>
{% endblock %}

{% block script %}
<script>
     var pages = document.querySelector('iron-pages');
     var tabs = document.querySelector('paper-tabs');

    tabs.addEventListener('iron-select', function() {
        pages.selected = tabs.selected;
    });
</script>
{% endblock %}