{% extends 'page/admin-page.html' %}
{% load tags %}

{% block imports %}
<link rel="import" href="/elements/paper-tabs/paper-tab.html">
<link rel="import" href="/elements/paper-tabs/paper-tabs.html">
<link rel="import" href="/elements/iron-pages/iron-pages.html">
<link rel="import" href="/media/elements/blink-user-record.html">
<style is="custom-style">
    paper-tabs {
        --paper-tabs-selection-bar-color: var(--paper-light-blue-100);
        --paper-tabs: {
            background: var(--accent-color);
            color: var(--paper-light-blue-100);
        };
    }
</style>
{% endblock %}

{% block title %}
{{object|classname}} {{object}}
{% endblock %}

{% block panel_content %}

<div class="vertical-section-container spacing-top">
    {% block additional_info %}{% endblock %}
    <div>
        <paper-tabs scrollable selected="{{request.GET.tab}}">
            <paper-tab>Project Detail</paper-tab>
            <paper-tab>Homes</paper-tab>
            <paper-tab>Project Records</paper-tab>
        </paper-tabs>
    </div>

    <iron-pages selected="{{request.GET.tab}}">
        <div class="center-page">
            <paper-card>
                <blink-detail data="{{object.detail_json}}">
                </blink-detail>
            </paper-card>
        </div>
        <div class="center-page">
            <paper-card>
                <div class="card-content">
                    {% for home in project %}
                        <h2>{{home.home}}</h2>
                        {% for hardware in home.hardwares %}
                            <h3>{{hardware.hardware}}</h3>
                            {% for device in hardware.devices %}
                                <blink-item title="{{device.type}}">
                                    <a href="{{device.get_absolute_url}}">{{device}}</a>
                                </blink-item>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </paper-card>
            
        </div>
    </iron-pages>
    
</div>
{% endblock %}

{% block formsubmit %}Update{% endblock %}

{% block script %}
<script>
     var pages = document.querySelector('iron-pages');
     var tabs = document.querySelector('paper-tabs');

    tabs.addEventListener('iron-select', function() {
        pages.selected = tabs.selected;
    });
</script>
{% endblock %}